<!DOCTYPE html>
<html>
    <head>
        <title>view</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{url_for('static',filename='profile.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    </head>

    <body>
        <div class="nav">
            <h1>Movie Manager</h1>
            <a href="{{url_for('home')}}">Home</a>
            <a class="active" href="{{url_for('profile')}}">Profile</a>
             <a href="{{url_for('login')}}">Log Out</a>
        </div>
        <div class="s_users">
            <h4>Search User</h4>
            <form name="users" id="users" action="" method="post">
                <div>
                    <input type="text" name="username" placeholder="Enter Username" style="width: 200px;height: 30px;" required>
                </div>
            </form>
            <button type="submit" form="users" style="background-color: blue">Search</button>
        </div>
        <div class="acctype">
           <p><b>ACCOUNT NATURE: </b></p>
            {% if type=='public' %}
            <p id="info">PUBLIC ACCOUNT</p>
            {% else %}
            <p id="info">PRIVATE ACCOUNT</p>
            {% endif %}
            <button type="button" onclick="change_type(this)" style="background-color: green">{{type}}</button>
        </div>
        
        <div class="favourites">
            <h3><b>Favourites</b></h3>
            {% if data3 %}
            <ol>
            {% for d in data3 %}
             <li>{{d[1]}}</li>
            {% endfor %}
            </ol>
            {% else %}
            <p>No favourite videos</p>
            {% endif %}
        </div>
      
        
        <div class="wl">
            <h3><b>Watch Later</b></h3>
            {% if data1 %}
            <ol>
                {%for d in data1 %}
                <li>{{d[1]}}</li>
                {% endfor %}
            </ol>
            {% else %}

            <p>No videos were added to watch later..</p>
            {% endif %}
        </div>
        <h3><b>USER ACTIVITY</b></h3>
        
        <div class="liked">
            <h3><b>Liked</b></h3>
            {% if data %}
            <ol>
            {% for d in data %}
             <li>{{d[1]}}</li>
            {% endfor %}
            </ol>
            {% else %}
            <p>You have not liked any videos</p>
            {% endif %}
        </div>
        
        <div class="wa">
            <h3><b>Watched</b></h3>
            {% if data2 %}
            <ol>
                {%for d in data2 %}
                <li>{{d[1]}}</li>
                {% endfor %}
            </ol>
            {% else %}

            <p>You have not watched any videos</p>
            {% endif %}
        </div>
</body>

<script>
   function change_type(b){
            var request=new XMLHttpRequest();
            var data;
            request.onreadystatechange=function(){
                if(this.readyState==4 && this.status==200)
                 console.log("done");
            };
            if(b.innerHTML=="public"){
                b.innerHTML="private";
                var p=document.getElementById('info')
                p.innerHTML="PRIVATE ACCOUNT";
                data='state=private';
                console.log(data);
            }
            else if(b.innerHTML=="private"){
                b.innerHTML="public";
                var p=document.getElementById('info')
                p.innerHTML="PUBLIC ACCOUNT";
                data='state=public';
            }
            request.open('POST',"{{url_for('acctype')}}",true);
            request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            request.send(data);
        }
</script>
        

        
